######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

# Dependency directories
node_modules/

# ingnore generated JavaScript files for now
*.js

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Mac OSX
######################
.DS_Store

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
